h1{
    color: rgb(229,212,195);
    font-weight: 500;
    background-color: darkslategray;
    width: 100%;
} 
h2{
    font-size:30px;
    color: rgb(138,121,104);
    font-weight: 800;
    
}
h3 {
    font-family: 'Dosis';
    color: rgb(89,61,59);
    }

body { 
    background-color: rgb(138,121,104);
        
    color: rgb(203,153,126);
    font-family: 'Dosis';
    font-weight: 600; 
    }   
    
p{
    line-height: 1.2;
}
hr{
    width: 300px;
   }

 

#ulamigos {
    color: rgb(203,153,126);
    margin-left: 800px;
    
    
}
a:link{
    color: rgb(89,61,59);
}
a:visited{
    color: rgb(89,61,59);
}
a:hover{
    color: rgb(89,61,59);
}
a:active{
    color:rgb(89,61,59);
}
#sobre {
    text-align: center;
    background-color: rgb(229,212,195);
    width: 1000px;
    height: auto;
    margin-left: 550px;
    padding: 35px;
}

#pessoasconhecidas {
    
    }

.alinhamento{
    text-align: center;
    
}

.foto{
    border: 3px solid rgb(89,61,59);
    float: left;
} 

