* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
#cabecalho {
    text-align: center;
    background-color: rgb(106, 140, 170);
    border: 1px solid white;
    width: 80%;
    margin: 20px 0;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

#cabecalho h1 {
    font-size: 35x;
    
}

body {
    background-color: rgb(217, 232, 235);
    font-family: 'Helvetica', 'Arial', sans-serif ;
    font-size: 16px;
    line-height: 1.3;
    margin-left: 5px;
}

#colorido-nome{
    color: rgb(172, 166, 166);
}

.estilo{
    background-color: aliceblue;
    border: 1px solid rgb(7, 7, 7);
    width: 80%;
    padding: 20px;
    margin: 0 auto 20px auto;
}

.labels input[type="text"]{
margin: 3px;
background-color: white;
border: 1px solid white;
width: 100%;
padding: 7px;
font-size: 14px;
}